# Assignment#3
Question 1: 
Create a new column in the provided dataset. Column name should be num_of_cast. The assignment was already explained in class. You have to append or add a column in the dataset which contains the total number of cast in that particular movie or Tv-Show.

Question 2: 
In the provided dataset count how many number of tv-shows and movies of each genre are there using group by or whichever other method you see fit.

Dataset Link:
https://drive.google.com/file/d/19waFhyiDmK2SMkkPzgohfHHkx-uFirFf/view

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("netflix_data.csv")
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas

## Ans#1 Add column num_of_cast

In [3]:
def set_num_of_cast(val):
    if pd.isnull(val):
        return 0
    else:
        return len(val.split(', '))


df["num_of_cast"] = df["cast"].apply(set_num_of_cast)

# change position of new column
cols=df.columns.tolist()
cols.insert(5,cols[-1])
cols.pop()
df=df[cols]
df.head(2)

,show_id,type,title,director,cast,num_of_cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",11,Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",6,Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas

## Ans#2 count how many number of tv-shows and movies of each genre are there

In [4]:
df.groupby('genre')["type"].value_counts()

genre                 type
Action                Movie       721
Anime Features        Movie        19
Anime Series          TV Show     148
British TV            TV Show     232
Children              Movie       502
Classic               TV Show      21
Classic Movies        Movie        77
Comedies              Movie      1074
Crime TV              TV Show     369
Cult Movies           Movie        12
Documentaries         Movie       751
Docuseries            TV Show     194
Dramas                Movie      1384
Horror Movies         Movie       244
Independent Movies    Movie        20
International Movies  Movie       114
International TV      TV Show     690
Kids                  TV Show     359
LGBTQ Movies          Movie         1
Music                 Movie        17
Reality TV            TV Show     102
Romantic Movies       Movie         3
Romantic TV           TV Show      28
Sci-Fi                Movie        11
Spanish-Language      TV Show       2
Sports Movies         Movie         1
Stand-Up              Movie       321
                      TV Show      33
TV Action             TV Show      37
TV Comedies           TV Show     110
TV Dramas             TV Show      62
TV Horror             TV Show      10
TV Sci                TV Show       1
TV Shows              TV Show      12
Thrillers             Movie        49
Uncategorized         Movie        56
Name: type, dtype: int64